.body {
  background-color: #f5f5f5;
}
.header-content {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  margin-left: 3rem;
  margin-top: 2rem;
  padding: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
}
.container h1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  padding: 30px;
}

.gallery {
  flex: 1 1 100%;
  max-width: 200px;
}

.browse-box {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  margin-left: 4rem;
  /* border: 1px dashed #cccccc; */
  margin-bottom: 10px;
}

.browse-box img {
  height: 180px;
  width: 215px;
  /* margin-bottom: 10px; */
}
.imageadd {
  font-family: 'Inter';
  font-style: normal;
  font-size: 20px;
  margin-left: 3.6rem;
  margin-right: -4rem;
  color: #ABABAB;
}

.form-box {
  flex: 1 1 100%;
  max-width: 450px;
  margin-left: 30px;
}
.form-group {
  margin-left: 7rem;
}

form label {
  display: block;
  margin-bottom: 10px;
}

.input-same,
form textarea {
  /* display: block; */
  width: 120%;
  /* margin-bottom: 20px; */
  padding: 10px;
  /* border: 1px solid #cccccc; */
  border-radius: 5px;
  font-size: 16px;
  /* color: #555555; */
}
form input[type="number"],
form input[type="date"] {
  width: 40%;
  font-size: 16px;
  border-radius: 5px;
}

form input[type="submit"] {
  background-color: #3EAEFF;
  color: white;
  width: 40%;
  margin-left: 17rem;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #4caf50;
}

form textarea {
  resize: vertical;
  height: 150px;
}

@media screen and (max-width: 768px) {
  .gallery {
    margin-right: 30px;
  }

  .form-box {
    margin-left: 0;
    max-width: 100%;
  }
}
