
.notification-card {
    position: absolute;
    width: 20rem;
    max-height: 200px; /* Set the max height for the notification dropdown */
    top: 60px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    max-height: 10rem;
    overflow-y: auto; 
  }
  
  .notification-content {
    text-align: center;
  }
  
  .notification-content p {
    margin-bottom: 10px;
  }
  
  .notification-content button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  