
.card{
    width: 25rem;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.05rem 0.8rem 0.04rem;
}

.card-header{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap:1rem;
    justify-content: space-between;
    border: 0.0125rem solid grey;
    border-radius: 0.5rem;
}
.card-header img{
    height: 5rem;
    border-radius: 0.2rem;
}
.name-heading{
    display: flex;
    flex-direction: column;
}
.name-heading .heading{
    font-size: 1rem;
    font-weight: 700;
}
.category{
    font-size: 0.7rem;
}
.pricing{
    font-weight: 700;
    color: #FF5F52;
}
.discription{
    padding: 0.5rem;
}
.discription-header{
    font-size: 1rem;
    font-weight: 700;
}
.discription p{
    font-size: 0.8rem;
    padding-top: 0.5rem;
}
