.register{
  background-image: url("../../assets/bgimg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 95vh; 
}
.register-header {
  font-size: 2rem;
  color: black;
  text-align: center;
  padding: 1rem;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.register-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
}

.row {
  display: flex;
  flex-basis: 100%;
  margin-bottom: 10px;
}

.col {
  flex: 1;
  margin-right: 10px;
}

.col:last-child {
  margin-right: 0;
}

.register-lable {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #4a3794;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

input,
button.transparent-blue {
  width: 100%; /* Make input and gender buttons the same width */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.gender-buttons {
  display: flex;
  align-items: center;
}

.transparent-blue {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #6764ff;
  color: #4a3794;
  padding: 6px 10px;
  border-radius: 4px;
  margin-right: 5px;
  cursor: pointer;
}

button.transparent-blue img {
  width: 20px;
  margin-right: 5px;
}
.transparent-register {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #6764ff;
  color: #4a3794;
  padding: 6px 45px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 25rem;
  height: 45px;
  width: 200px;
  font-size: 15px;
}

.transparent-register:hover {
  background-color: #6764ff;
  color: white;
}

/* Additional styling for mobile responsiveness */
@media (max-width: 600px) {
  .col {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
