/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Styles for RequestPage component */
.body-requestpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.head-request {
  margin-top: 5rem;
  margin-right: 32rem;
}

.container-requestpage {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 21.33%;
}

.hr-line-requestpage {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #dadadaee;
}


#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 85%;
  margin-top: 4rem;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
  border: none;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
}

/* Icons */
.request-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 3px;
  border-radius: 20px;
}

.accept-img {
  height: 30px;
}

.reject-img {
  height: 33px;
}

/* Filter Buttons */
.filter-button {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 60rem;
}

.head-request-filter-1 {
  height: 2rem;
  width: 10rem;
  margin-top: 1.8rem;
  border-radius: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background-image: url("../../assets/filter.png");  */
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 18px; /* Adjust the size of the image as needed */
  padding-left: 35px; /* Make space for the image */
}

.head-request-filter {
  height: 2rem;
  width: 10rem;
  margin-top: 1.8rem;
  border-radius: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background-image: url("../../assets/filter.png");  */
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 18px; /* Adjust the size of the image as needed */
  padding-left: 35px; /* Make space for the image */
}

.filter-image-container-1 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 14.5rem;
  width: 2px;
  transform: translateY(-50%);
}

.filter-image-1 {
  width: 20px;
  height: 20px;
  margin-left: 5rem;
  margin-top: 1.8rem;
}

.filter-vertical-line-1 {
  margin-top: 1.8rem;
  width: 2px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.22);
  margin-left: 4px;
}

.filter-image-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 18rem;
  transform: translateY(-50%);
}

.filter-image {
  width: 20px;
  height: 20px;
  margin-left: 5rem;
  margin-top: 1.8rem;
}

.filter-vertical-line {
  margin-top: 1.8rem;
  width: 2px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.22);
  margin-left: 4px;
}

/* Loading GIF */
.rentiVerseLoadingGif {
  margin-top: 10rem;
}

.accept{
  margin-left: 5rem;
}
